.label{
  font-size: 100px;
  text-decoration: none;
}
  p, a{
    color: white;
    text-decoration: none;
    transition: color 0.5s;
  }
  a:hover{
    color: grey;
  }
  body{
    background-color: #3C3C3C;
  }
  .container{
    margin-top: 30px;
  }
  .menu a{
    font-size: 24px;
    margin-left: 27px;
  }
  .menu{
    margin-top: 20px;
    width: 400px;
  }
  .loginBt{
    width: 201px;
    height: 77px;
    background-color: #CE0000;
    transition: background-color 0.3s;
    border: 0px;
    border-radius: 20px;
    color: white;
    font-size: 24px;
  }
  .loginBt:hover{
    background-color: #870000;
  }
  .profileBt{
    width: 201px;
    height: 83px;
    border: 5px solid #CE0000;
    border-radius: 20px;
    background: none;
    color: white;
    font-size: 24px;
    transition: background-color 0.3s;
    margin-left: 20px;
  }
  .profileBt:hover{
    background-color: #CE0000;
  }
  .cart{
    width: 50px;
    margin-top: 20px;
  }
